@using EbSite.Web.EbMvc
@model EbSite.Modules.BBS.Models.PostModel
<div class="txt-c">
    @using (Html.BeginForm("Post", "postController", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @EbSite.Modules.BBS.ModuleCore.GetLinks.SavePostUrl(1, Html.GetSiteID())
            < table class="contentmain" cellpadding="0" cellspacing="0">
            <tr>
                <td class="contentmain-right">
                    <div class="saveposttitle">发表帖子</div>
                    <div><b>标题</b>(标题最多为60个字符，还可输入60 )</div>
                    <div class="savediv">
                        @Html.TextBoxFor(model => model.Title, new { @placeholder = "评价标题" })
                        <span class="help-inline">@Html.ValidationMessageFor(model => model.Title)</span>
                    </div>
                    <div style="width: 100%;">
                       edite
                    </div>
                    <div>
                        (标签，多个请用英文逗号分开，如：虚云法师,名师讲座,...)<br />
                        @Html.TextBoxFor(model => model.Tags, new { @placeholder = "请输入标签" }) 
                    </div>
                    <div>
                        <button type="submit" style="width: 100px" class="btn"> 提交 </button>
                        @Html.CheckBoxFor(model => model.IsEabled, new { @checked = "true",Text= "有人回复给我Email提醒" }) 
                        <font color="#ff0000">(您的Email是否正确?<a target="_blank" href="@Html.HostApi().GetModuleUrl("bf371bdd-f674-4077-a9ed-e2896fb4c857","477c77b4-be69-4d37-9593-90884fabc19c") ">修改我的Email</a>)</font>

                    </div>

                </td>
            </tr>
        </table>
        @Html.HiddenFor(model => model.Id)
    }
</div>